
// === 光标配置 ====

cursor {
    // 主题，存放路径在~/.local/share/icons
    xcursor-theme "Bibata-Modern-Ice";
    // 大小
    xcursor-size 30
    // 按下键盘按键时将隐藏光标
    hide-when-typing
    // 在无活动后一秒钟隐藏光标。
    hide-after-inactive-ms 1000
}