// === 窗口规则===
window-rule {
    geometry-corner-radius 10  // 设置圆角
    clip-to-geometry true      // 将窗口内容裁剪到圆角边界内
    draw-border-with-background true // 禁止边框画到窗口的背景里
}

// 浮动Noctalia设置窗口
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

debug {
  // 允许从Noctalia执行通知操作和激活窗口
  honor-xdg-activation-with-invalid-serial
}

// 设置全屏
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

// window-rule {
//     // match is-active=false
//     // opacity 0.9
// }


// DMS 窗口默认浮动打开（匹配所有 org.quickshell 子窗口：设置、控制中心等）
// window-rule {
//     match app-id=r#"^org\.quickshell"#
//     open-floating true
// }

window-rule {
    match app-id="com.mitchellh.ghostty"
    open-floating true
}

