// === 窗口规则===
// 设置全屏
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// DMS 窗口默认浮动打开（匹配所有 org.quickshell 子窗口：设置、控制中心等）
window-rule {
    match app-id=r#"^org\.quickshell"#
    open-floating true
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    open-floating true
}

// niri-sidebar: 允许浮动窗口有足够小的尺寸
window-rule {
    match is-floating=true
    min-width 100
    min-height 100
}