// niri 窗口布局配置 — 颜色由 Stylix 统一管理
// https://niri-wm.github.io/niri/Configuration%3A-Layout.html
layout {
    gaps 8     // 窗口和屏幕边缘的间距
    background-color "transparent"  // 工作区透明
    center-focused-column "never"   // 无特殊居中效果
    always-center-single-column     // 工作区只包含一列，该列居中显示
    // 新窗口的默认列宽
    default-column-width { proportion 0.5; }

    // 焦点环，用于指示活动窗口
    focus-ring {
        on          // 开启焦点环
        width 3     // 焦点环宽度
        inactive-color "#4da3ff"
        // 活动窗口焦点环渐变色
        active-gradient from="#ff6961" to="#ff9f43" angle=45
    }

    // 边框，用于指示活动窗口
    border {
        off
        width 4
        active-color "#ffd866"
        inactive-color "#7d7d86"
        urgent-color "#ff6961"
    }

    // 标签指示器
    tab-indicator {
        on
        place-within-column // 指示器绘制列内部
        gap 5 // 指示器与窗口边缘间距
        width 3 // 指示器宽度
        length total-proportion=1.0 // 指示器长度占列总高度比例
        position "right" // 指示器在列的右侧
        gaps-between-tabs 2 // 多个标签指示器并排时间距
        corner-radius 8 // 指示器圆角半径
        active-color "#4da3ff" // 活跃标签指示器颜色
        inactive-color "#a0a0aa" // 非活跃标签指示器颜色
        urgent-color "#ff6961" // 紧急标签指示器颜色
    }

    // 窗口插入提升
    insert-hint {
        on
        color "#ff9f4380"
    }
}
