// 开机自启
// 允许 root 通过用户的 xwayland 打开窗口
spawn-at-startup "xhost" "+si:localuser:root"
// polkit 认证代理
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// noctalia shell
spawn-at-startup "noctalia"
// 输入法
spawn-at-startup "fcitx5"
// 截图工具
spawn-at-startup "snipaste"
// 划词翻译
spawn-at-startup "pot"

// niri 启动时不自动展示快捷键覆盖层
hotkey-overlay {
    skip-at-startup
}
