// niri 窗口布局配置
// https://niri-wm.github.io/niri/Configuration%3A-Layout.html
layout {
    gaps 8     // 窗口和屏幕边缘的间距
    background-color "transparent"  // 工作区透明
    center-focused-column "never"   // 无特殊居中效果
    // 新窗口的默认宽度
    default-column-width { proportion 0.5; }

    // 焦点环，用于指示活动窗口
    focus-ring {
        on          // 开启焦点环
        width 3     // 边框宽度
        // 活动窗口周围焦点环渐变颜色
        active-gradient from="#80c8ff" to="#bbddff" angle=45
    }

    // 边框，用于指示活动窗口
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
}
